<div class="contextual">
  <%= link_to 'Создать', new_project_gost_document_path, remote: true, class: "icon icon-add" %>
</div>

<div>

<h3>Документация</h3>

<% @documents.each do |document|  %>
<p><h4><%= link_to document.title, project_gost_document_path(@project, document) %></h4>
  <%= link_to '[Export]',  export_project_gost_document_path(@project, document) %>
</p>
<% end %>
</div>

<% content_for :sidebar do %>
  <% render partial: 'gost_plugin/sidebar' %>
<% end %>