Gost-documents

<% @gost.pages.each do |document| %>
   <div>  <%= link_to document.wikipage.title, controller: 'wiki', action: 'show', project_id: @project, id: document.wikipage.title %>
     ->
     <%= link_to document.title, {:action => 'export', :page_id => document.wikipage.title} %>  </div>
<% end %>

Gost-definitions

<% @gost.definitions.each do |document| %>
    <div> <%= link_to document.wikipage.title, controller: 'wiki', action: 'show', project_id: @project, id: document.wikipage.title %>  </div>
<% end %>