<%= form_for @macro, url: {controller: 'gost_macros', action: 'create'} do |f| %>
    <div class="title">
      <strong>{{</strong><%= f.text_field :title %><strong>}}</strong><%= f.submit 'Создать' %>
    </div>
    <%= f.text_area :text, cols: 100, rows: 15 %>
<% end %>