<h3>Библиография</h3>
<% @bibs.each do |bib| %>
  <p>
      <%= bib %>
    <% unless bib.id.nil? %>
      <%= link_to 'Удалить', project_bibliography_path(@project, bib),
                  method: :delete, data: {confirm: 'sure?'}, class: 'icon icon-del' %>
    <% end %>
  </p>
<% end %>

<%= link_to '[+]', action: 'new' %>

<% content_for :sidebar do %>
    <% render partial: 'gost_plugin/sidebar' %>
<% end %>