<% @bibs.each do |bib| %>
  <p>
    <% unless 0%>
      <%= bib.text %>
      <%= link_to '[X]', project_gost_bibliography_path(@project, bib), method: :delete, data: {confirm: 'sure?'} %>
    <% else %>
      <%= bib.to_s %>
    <% end %>
  </p>
<% end %>

<%= link_to '[+]', action: 'new' %>