<%= form_for @bib, url: {action: 'create'} do |f| %>
  new  Bibtex entry

    <p>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.file_field :bib_file %>
    </p>

    <%= f.submit %>
<% end %>