<%
  content_for :header_tags do
    javascript_include_tag('jstoolbar/jstoolbar.js') +
        javascript_include_tag('gosttoolbar', plugin: 'gost') +
        javascript_include_tag("jstoolbar/lang/jstoolbar-#{current_language.to_s.downcase}") +
        stylesheet_link_tag('jstoolbar')
  end
%>

<script>
  $(function(){

    document.querySelectorAll(".jsToolBar").forEach(
        function(item,i,a){
          var wikiToolbar = new jsToolBar(item);
          //  wikiToolbar.setHelpLink('#{escape_javascript url}');
          wikiToolbar.draw();
        });

  });
</script>

<div id="bibliography" style="display:none"></div>

<script>
  $(function(){
  $("a.section_edit_link").click(function(){
    $(this).parent().hide();
    $(this).parent().parent().find("input").show();
    //$(this).hide();
    return false;
  });
  });
</script>


<%= form_for [@project, @document, @section] do |section_form| %>
    <%= render partial: 'gost_documents/section', locals: {f: section_form, depth: 1} %>

    <div style="clear:both">
    <%= section_form.submit %>
    </div>
<% end %>