<h3>Документация ГОСТ</h3>
<ul>
  <li>
    <%= link_to 'Документы', project_gost_documents_path %>
  </li>
  <li>
    <%= link_to 'Редактировать информацию о проекте', project_gost_info_path %>
  </li>
  <li>
    <%= link_to 'Текстовые шаблоны', project_macros_path %>
  </li>
  <li>
    <%= link_to 'Библиография', project_bibliography_index_path %>
  </li>
</ul>