Выберите категории задач для отображения:

<div>
<%= select_tag :issue_category_ids,
              options_from_collection_for_select(@project.issue_categories, :id, :name,
                                                settings ? settings[:issue_category_ids] : []), multiple: true %>
</div>

