<div style="border-bottom: 1px dotted #bbb;">
<%= form_for macro, url: {controller: 'gost_macros', action: 'update', id: macro}, remote: true do |f| %>
<div class="title">
<strong>{{</strong><%= f.text_field :title %><strong>}}</strong>
</div>
<%= f.text_area :text %><%= f.submit %>
<% end %>
</div>